body {
    margin: 0;
    font-family: 'Segoe UI';
}

.Table {

    .mainList {
        margin: 0 auto;
        width: 450px;

        .listColumnLeft {
            color: grey;
            font-weight: 100;
        }
        .listColumnRight {
            color: grey;
            font-weight: 100;
            margin-left: 150px;
        }

        .addButton {
            background: none;
            border: none;
            border-radius: 100%;
            transition: 0.1s;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-left: 142px;
        }
        .addButton:hover {
            background-color: rgb(220, 220, 220);
            border: none;
            cursor: pointer;
        }

        .listItem {
            width: 442px;
            margin-left: -3px;
            height: 42px;
            margin-top: 5px;

            .itemTextLeft {
                min-width: 200px;
            }

            .itemTextRight {
                min-width: 156px;
            }

            .leftButton {
                background: none;
                border: none;
                border-radius: 2px;
                transition: 0.1s;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            .leftButton:hover {
                background-color: rgb(200, 211, 255);
                border: none;
                cursor: pointer;
            }

            .rightButton {
                background: none;
                border: none;
                border-radius: 2px;
                transition: 0.1s;
                padding-top: 6px;
                padding-bottom: 6px;
            }

            .rightButton:hover {
                background-color: rgb(255, 200, 200);
                border: none;
                cursor: pointer;
            }
        }

        .listItem:hover {
            background-color: rgb(245, 245, 245);
        }

        .textArea {
            resize: none;
            width: 180px;
            height: 20px;
            border: none;
            font-family: 'Segoe UI';
            font-size: 15px;
            margin-top: 10px;
            margin-left: -5px;
            margin-right: 20px;
        }

        .textAreaRight {
            resize: none;
            width: 60px;
            height: 20px;
            border: none;
            font-family: 'Segoe UI';
            font-size: 15px;
            margin-top: 5px;
        }

        .selector {
            border: none;
            padding: 5px;
            margin-right: 110px;
            margin-left: -10px;
            font-family: 'Segoe UI';
            font-size: 15px;
        }
    }
}

.header {
    background-color: rgb(54, 54, 54);
    height: 50px;
    margin-bottom: 20px;
    width: 100%;

    .headerMenu {
        margin: 0 auto;
        width: 450px;
        padding-top: 20px;

        .headerButton {
            color: black;
            background-color: rgb(212, 212, 212);
            padding: 9px;
            text-decoration: none;
            transition: 0.2s;
        }
        .headerButton:hover {
            background-color: white;
            cursor: pointer;
        }
        .headerButtonSelected {
            color: black;
            background-color: white;
            padding: 9px;
            text-decoration: none;
            cursor: pointer;
        }

        .loginButton {
            color: black;
            background-color: rgb(212, 212, 212);
            padding: 9px;
            margin-left: 200px;
            text-decoration: none;
            transition: 0.2s;
        }
        .loginButton:hover {
            background-color: white;
            cursor: pointer;
        }
        .loginButtonSelected {
            color: black;
            background-color: white;
            padding: 9px;
            margin-left: 200px;
            text-decoration: none;
            transition: 0.2s;
        }
    }
}

.loginContainer {
    width: 100%;

    .login {
        margin: 0 auto;
        width: 450px;

        .loginForm {
            list-style: none;
            margin-left: -40px;

            .textArea {
                border: none;
                margin-top: 15px;
                margin-bottom: 15px;
                width: 435px;
                padding: 5px;
                resize: none;
                font-family: 'Segoe UI';
                font-size: 15px;
                background-color: rgb(235, 235, 235);
            }

            .loginButton {
                border: none;
                color: black;
                background-color: rgb(212, 212, 212);
                padding: 9px;
                text-decoration: none;
                transition: 0.2s;
                margin-top: 15px;
            }
            .loginButton:hover {
                background-color: white;
                cursor: pointer;
            }
        }
    }
}