body {
    margin: 0;
    font-family: 'Segoe UI';
}

.Table {

    .mainList {
        margin: 0 auto;
        width: 450px;

        .listColumnLeft {
            color: grey;
            font-weight: 100;
        }
        .listColumnRight {
            color: grey;
            font-weight: 100;
            margin-left: 160px;
        }

        .addButton {
            background: none;
            border: none;
            border-radius: 100%;
            transition: 0.1s;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-left: 142px;
        }
        .addButton:hover {
            background-color: rgb(220, 220, 220);
            border: none;
            cursor: pointer;
        }

        .listItem {
            margin-left: -3px;
            margin-right: 114px;
        }

        .leftButton {
            background: none;
            border: none;
            border-radius: 2px;
            transition: 0.1s;
            padding-top: 6px;
            padding-bottom: 6px;
        }
        .leftButton:hover {
            background-color: rgb(200, 211, 255);
            border: none;
            cursor: pointer;
        }

        .rightButton {
            background: none;
            border: none;
            border-radius: 2px;
            transition: 0.1s;
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .rightButton:hover {
            background-color: rgb(255, 200, 200);
            border: none;
            cursor: pointer;
        }

        .textArea {
            margin-top: 20px;
            margin-left: -2px;
            resize: none;
            width: 120px;
            border: none;
        }

        .selector {
            margin-top: 13px;
            margin-left: -4px;
            border: none;
        }
    }
}

.header {
    background-color: rgb(54, 54, 54);
    height: 50px;
    margin-bottom: 20px;
    width: 100%;

    .headerMenu {
        position: absolute;
        top: 2.2%;
        right: 39%;

        .headerButton {
            color: black;
            background-color: rgb(212, 212, 212);
            padding: 9px;
            text-decoration: none;
            transition: 0.2s;
        }
        .headerButton:hover {
            background-color: white;
            cursor: pointer;
        }
        .headerButtonSelected {
            color: black;
            background-color: white;
            padding: 9px;
            text-decoration: none;
            cursor: pointer;
        }

        .loginButton {
            color: black;
            background-color: rgb(212, 212, 212);
            padding: 9px;
            margin-left: 200px;
            text-decoration: none;
            transition: 0.2s;
        }
        .loginButton:hover {
            background-color: white;
            cursor: pointer;
        }
    }
}