.Table {
    width: 100%;

    .mainList {
        margin: 0 auto;
        width: 450px;

        .listColumn {
            color: grey;
            font-weight: 100;
        }

        .listItem {
            padding-top: 20px;
            padding-right: 100px;
        }

        .addButton {
            background: none;
            border: none;
            border-radius: 100%;
            transition: 0.1s;
            padding-top: 4px;
            margin-left: 43px;
        }
        .addButton:hover {
            background-color: rgb(220, 220, 220);
            border: none;
        }

        .leftButton {
            background: none;
            border: none;
            border-radius: 2px;
            transition: 0.1s;
            padding-top: 4px;
            margin-top: 15px;
        }
        .leftButton:hover {
            background-color: rgb(200, 211, 255);
            border: none;
        }

        .rightButton {
            background: none;
            border: none;
            border-radius: 2px;
            transition: 0.1s;
            padding-top: 4px;
            margin-left: 10px;
        }

        .rightButton:hover {
            background-color: rgb(255, 200, 200);
            border: none;
        }

        .textArea {
            margin-top: 20px;
            margin-left: -2px;
            resize: none;
            width: 120px;
            border: none;
        }

        .selector {
            margin-top: 13px;
            margin-left: -4px;
            border: none;
        }
    }
}

.header {
    background-color: rgb(54, 54, 54);
    height: 50px;
    margin-bottom: 20px;
    width: 100%;

    .headerMenu {
        margin: 0 auto;
        position: absolute;
        left: 39.2%;
        top: 2%
    }
    
    .headerButton {
        color: black;
        background-color: white;
        padding: 9px;
        text-decoration: none;
    }
}